# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Generated/output data
output/
results/

data/

output/

analyze_Ising_optimization_results.ipynb

analyze_XY_optimization_results.ipynb